      <div class="container col-6">
        <div class="card justify-content-center">
          <img src="https://images.unsplash.com/photo-1599692392256-2d084495fe15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title"><strong><%= @pet.name %></strong></h2>
            <p class="card-text"><%= @pet.description %></p>
            <hr>
            <div class="d-flex justify-content-between mt-4">
              <h6 class="card-subtitle mb-2 text-muted"><strong><%= @pet.average_rating %></strong></h6>
              <h6 class="card-subtitle mb-2 text-muted"><strong><%= @pet.price_per_day %></strong>AED / Day</h6>
            </div>
          </div>
        </div>
      </div>
