<div class="container">
  <div class="row justify-content-center">
    <div class="row col-9 my-5">

      <div class="pet-form p-5">
        <h1>Edit your booking</h1>
          <%= simple_form_for @booking do |f|%>
          <%= f.input :date_start %>
          <%= f.input :date_end %>
          <%= f.submit "Update request", class: "btn btn-flat"%>
          <% end %>
      </div>

    </div>
  </div>
</div>
