<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dfcr2srmr/image/upload/v1645688759/pet-my-pet/z8uu0jsauv9ny1kqtsl6.jpg);">
  <div class="container">
    <h1 class="mb-4">Search form here</h1>
    <%= link_to "Search", pets_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="owner-section">
  <div class="container">
    <h1 class="mb-4"><strong>Is your pet looking for new friends?</strong></h1>
    <p class="mb-4">Join the <strong>PetMyPet community</strong> and rent your pet!</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
