<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551928692-6954104dee5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <%= form_tag pets_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a pet"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="owner-section">
  <div class="container">
    <h1 class="mb-4"><strong>Is your pet looking for new friends?</strong></h1>
    <p class="mb-4">Join the <strong>PetMyPet community</strong> and rent your pet!</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
