.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-outline {
  border: 1px solid #1BCB7F;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  color: #1BCB7F;
}

.btn-outline:hover {
  background: #effff8;
  color: #1BCB7F;
}
